doctype html
html
	head
		title CSCI 3230U Final Project
		meta(name='viewport', content='width-device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
		// TODO: REPLACE THESE WITH THE RIGHT FILES
		link(type='text/css', rel='stylesheet', href='styles/about.css')
		script(type='text/javascript', src='scripts/about.js')
	body
		#header
			#bar.row
				a.link(href='/')
					#infvis.col-lg-3 INFINITE VISION
				.col-lg-5
				a.link(href='/about')
					#about.col-lg-1 About
				a.link(href='/portfolio')
					#portfolio.col-lg-1 Portfolio
				a.link(href='/contact')
					#contact.col-lg-1 Contact
				a.link(href='/shop')
					#shop.col-lg-1 Shop
		div
		div
		div
		#about-main
			.row
				#logo.col-lg-12 INFINITE VISION
			.row
				.col-lg-12 DIRECTORS |	CINEMATOGRAPHERS | EDITORS
			.row
				.col-lg-2
				#contact.col-lg-8
					| INFINITE VISION TEAM
					| IS A DEDICATED GROUP OF PHOTOGRAPHERS AND VIDEOGRAPHERS
					| LOOKING TO CAPTURE THE INFINITE WORLD THROUGH A LENS
					| AND CREATE AN EVERLASTING PORTRAYAL.
				.col-lg-2
			.row
				#vis.col-lg-4  OUR VISION
				.col-lg-6
					| THE INFINITE VISION TEAM IS A COLLECTIVE
					| OF MOTIVATED CONTENT CREATORS AND WE ARE ALWAYS LOOKING TO
					| EXPAND OUR VIEW OF THE WORLD. WE LOVE TO WORK WITH OTHER
					| CONTENT CREATORS AND SHOWCASE THEIR TALENTS. TAKE PART AND
					| BROADEN OUR VISION BY GOING TO THE CONTACT PAGE AND GIVING
					| US A SHOUT.
				.col-lg-2
			.row
				img#stock-img(src='imgs/about_img.png', alt='stock')
