doctype html
html
  head
    title CSCI 3230U Final Project
    meta(name='viewport', content='width-device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='https://player.vimeo.com/api/player.js')
    link(type='text/css', rel='stylesheet', href='styles/login.css')
    script(type='text/javascript', src='scripts/login.js')
  body
    #header
      #bar.row
        a.link(href='/')
          #infvis.col-lg-3 INFINITE VISION
          .col-lg-5
        a.link(href='/about')
          #about.col-lg-1 About
        a.link(href='/portfolio')
          #portfolio.col-lg-1 Portfolio
        a.link(href='/contact')
          #contact.col-lg-1 Contact
        a.link(href='/shop')
          #shop.col-lg-1 Shop
    form.mainform(action='/login', method='post')
      div(id = 'message' class='content')= message
      .row
        .col-lg-4
        .col-lg-4
          .form-user
            label(for='username:') Username:
            textarea#username.form-control(name='username', rows='1')
      .row
        .col-lg-4
        .col-lg-4
          .form-password
            label(for='password:') Password:
            textarea#password.form-control(name='password', rows='1')
      .row
        .col-lg-4
        .col-lg-4
          button.btn.btn-outline-dark(type='Login') Login
      .row
        .col-lg-2
        .col-lg-2
        a.linkreg(href='/register') Don't have an account? Click here to Register and be able access the shop!
