doctype html
html
	head
		title CSCI 3230U Final Project
		meta(name='viewport', content='width-device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
		script(src='https://player.vimeo.com/api/player.js')
		link(type='text/css', rel='stylesheet', href='styles/main.css')
		script(type='text/javascript', src='scripts/main.js')
	body
		#header
			#bar.row
				a.link(href='/')
					#infvis.col-lg-3 INFINITE VISION
				.col-lg-5
				a.link(href='/about')
					#about.col-lg-1 About
				a.link(href='/portfolio')
					#portfolio.col-lg-1 Portfolio
				a.link(href='/contact')
					#contact.col-lg-1 Contact
				a.link(href='/shop')
					#shop.col-lg-1 Shop
		#background-video.background
			iframe(src='https://player.vimeo.com/video/277390713?background=1&autoplay=1&color=ff0179&title=0&byline=0&portrait=0&loop=1&sidedock=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', controls='0')
