#header{
	color:white;
	font-size:15px;
	font-family:"Futura";
	background-color: black;
}


#header #bar{
	padding:2rem;
}

#header #bar #infvis{
	font-size: 30px;
}

#header #bar #about{
	margin-top:1em;
}

#header #bar #portfolio{
	margin-top:1em;
}

#header #bar #contact{
	margin-top:1em;
}

#header #bar #shop{
	margin-top:1em;
}

body #message{
	margin-right:auto;
	margin-left:auto;
	width:50%;
	text-align: center;
	margin-top:3rem;
	margin-bottom:5rem;
}

form{
	font-family:"Futura";
	background-color: white;
}

.form-group{
	color:black;
}

form .row{
	margin-top:2rem;
}

.btn{
	background-color: black;
	color:white;
	outline-color: grey;
	margin-top:3rem;
	margin-left:50%;
}

.link
{
color: White;
}

textarea {
  resize: none;
}
